name = "sinister"

[variables]
version = "0.1.0"
ldflags = "-X main.VERSION=$version"


[task.format]
description = "Format the project"
command = "go fmt ./..."

[task.build]
description = "Build the project"
command = 'go build -ldflags "$ldflags" -o $name . '
# Can't actuall disable CGO, as sqlite3 needs it.
environment = [ "CGO_ENABLED=1" ]
depends = [
    "format"
]

[task.doc]
description = "Build documentation"
command = "docker run --rm -v ${pwd} :/work --user 1000:1000 pspiagicw/doc-generator"
